.grid{
    max-height: 125px;
}
.grid:hover{
    background-color:rgb(138, 25, 31);
    /* background-color: red; */
}
@media (max-width: 600px) {
    .grid {
        max-height: 300px;
    }
  }